    @font-face {
    font-family: inter;
    src: url(/assets/font/Roboto-Regular.ttf);
    }
    .wrapper {
    border: 1px solid rgb(0, 0, 0);
    width:  500px;
    height: 508px;
    }
    .center-logo {
        margin-top: 2px;
        margin-bottom: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo {
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    }
    .invoice{
        font-family: inter;
        font-size: 13.5px;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-right: 10px;
    }
    .invoice2{
        font-family: inter;
        font-size: 12px;
        margin-top: 6px;
        margin-bottom: 2px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .wrapper-resi {
    height: 100px;
    border-width: 1px;
    border-top-style: solid;
    border-right-style: hidden;
    border-bottom-style: solid;
    border-left-style: hidden;
    border-color: rgb(0, 0, 0);
    }
    .resi {
    font-family: inter;
    font-size: 13.5px;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 485px;
    border: 1px outset rgb(0, 0, 0);
    }
    .barcode {
        margin-top: 4px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .wrapper-package{
        justify-content: space-between;
        height: 50px;
        border-width: 1px;
        border-top-style: hidden;
        border-right-style: hidden;
        border-bottom-style: solid;
        border-left-style: hidden;
        border-color: rgb(0, 0, 0);
    }
    .package {
        font-family: inter;
        font-size: 13.5px;
        display: flex;
        margin-left: 5px;
        width: 500px;
    }
    .ket1{
        margin-left: 10px;
        margin-top: 7px;
    }
    .ket2{
        margin-left: 30px;
        margin-top: 7px;
    }
    .ket3{
        margin-left: 30px;
        margin-top: 7px;
    }
    .wrapper-address{
        justify-content: space-between;
        height: 90px;
        border-width: 1px;
        border-top-style: hidden;
        border-right-style: hidden;
        border-bottom-style: solid;
        border-left-style: hidden;
        border-color: rgb(0, 0, 0);
    }
    .address{
        display: flex;
        margin-left: 5px;
        width: 500px;
    }
    .receiver{
        margin-top: 5px;
        font-family: inter;
        font-size: 12px;
        width: 280px;
        height: 90px;
    }
    .sender{
        margin-top: 5px;
        font-family: inter;
        font-size: 12px;
        width: 195px;
    }
    .wrapper-payment{
        justify-content: space-between;
        height: 35px;
        border-width: 1px;
        border-top-style: hidden;
        border-right-style: hidden;
        border-bottom-style: dashed;
        border-left-style: hidden;
        border-color: rgb(0, 0, 0);
    }
    .payment{
        display: flex;
        margin-left: 5px;
        width: 500px;
    }
    .info1 {
        font-family: inter;
        height: 20px;
        font-size: 13px;
        margin-top: 7px;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center ;
        width: 235px;
        border: 1px outset rgb(0, 0, 0);
    }
    .info2 {
        font-family: inter;
        height: 20px;
        font-size: 11px;
        margin-top: 7px;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center ;
        width: 235px;
        border: 1px outset rgb(0, 0, 0);
    }
    .wrapper-table{
        justify-content: space-between;
        height: 20px;
        border-width: 1px;
        border-top-style: hidden;
        border-right-style: hidden;
        border-bottom-style: solid;
        border-left-style: hidden;
        border-color: rgb(0, 0, 0);
    }
    .wrapper-table2{
        justify-content: space-between;
        height: 33px;
        border-width: 1px;
        border-top-style: hidden;
        border-right-style: hidden;
        border-bottom-style: solid;
        border-left-style: hidden;
        border-color: rgb(0, 0, 0);
    }
    .table{
        font-size: 12px;
        font-family: inter;
        display: flex;
        margin-left: 10px;
        width: 500px;
        margin-top: 5px;
        height: 30px;
    }
    .table-prod{
        width: 230px;
        height: 30px;
    }
    .table-sku{
        width: 100px;
        height: 30px;
    }
    .table-var{
        width: 110px;
        height: 30px;
    }
    .table-jumlah{
        margin-right: 20px;
        width: 50px;
        height: 30px;
    }
    .table-jumlah1{
        margin-left: 4px;
        width: 50px;
        height: 30px;
    }
